<h1 class="acctTitle"><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="form-frame">
    <form id="loginForm" class="form" action="/account/login" method="POST">
        <label for="account_email">Email:</label>
        <input type="email" name="account_email" id="account_email" required value="<%= locals.account_email %>">
        <label for="account_password">Password:</label>
        <input type="password" name="account_password" id="account_password" 
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,}$"
            title="Passwords must have 8 characters, 1 number, 1 special character, 1 uppercase and 1 lowercase letter."
            required>
        <span id="pwBtn" tabindex="0">Show Password</span>
        <button type="submit">Login</button>
    </form>
    <p id="sign-up" >No account?
        <a href="./register">Sign-up </a>
    </p>
</div>
